<% content_for :breadcrumb do %>
  <%= link_to 'Wettpools', pools_path() %>
<% end %>

<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
      <h1>Wettpools</h1>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
      <%= link_to 'Neuer Pool', new_pool_path, :class => 'btn' %>
    </td>
  </tr>
</table>


<ul>
<% @pools.each do |pool| %>
  <li><%= link_to pool.full_title, pool_path(pool) %>
    (
      Manager <%= pool.user.name %>,
      <%= link_to "#{pool.players.size} Mitspieler", plays_path( :pool_id => pool.id ) %>
    )
    <br>
    <span class='light' style='font-size: 80%'><%= pool.welcome %></span>
  </li>
<% end %>
</ul>

