<p class='breadcrumb'>
  Wettpools
</p>


<h1>Wettpools</h1>

<ul>
<% @pools.each do |pool| %>
  <li><%= link_to pool.full_title, pool_path(pool) %>
    (
      Manager <span class='<%= hl_style_for_user(pool.user) %>'><%= pool.user.name %></span>,
      <%= pool.players.size %> Mitspieler
    )
    <br>
    <span class='light' style='font-size: 80%'><%= pool.welcome %></span>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'Neuer Pool', new_pool_path, :class => 'btn-primary' %>
