<h1>Wettpools</h1>


<ul>
<% @pools.each do |pool| %>
  <li><%= link_to "#{pool.title} #{pool.event.title}", pool_path(pool) %>
    (Manager <%= pool.user.name %>,
      <%= pool.players.size %> Mitspieler
    )
    <br>
    <span class='light' style='font-size: 80%'><%= pool.welcome %></span>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'Neuer Pool', new_pool_path, :class => 'btn-primary' %>
