
<h1><%= link_to 'Wettpools', pools_path() %> / <%= "#{@pool.title} #{@pool.event.title}" %></h1>

<p>Manager <%= @pool.user.name %></p>

<p><%= @pool.welcome %></p>

<p><%= @pool.players.size %> Mitspieler:</p>

<% machmit = true %>
<ul>
  <% @pool.players.each do |player| %>
  <li><%= link_to player.name, pool_player_path( @pool, player ) %>
      <% if current_user?( player ) %>
         <% machmit = false %>
      <% end %>
  </li>
  <% end %>
</ul>


<div>
<% if machmit %>
  <%= link_to 'Mach mit! Mittippen!', play_pool_path( @pool ), :class => 'btn-primary' %>
<% else %>
  <%= link_to 'Meine Tipps bearbeiten', edit_pool_player_path( @pool, current_user() ), :class => 'btn-primary' %>
<% end %>

<%= link_to 'Zurück', pools_path(), :class => 'btn' %>
</div>