<h1><%= link_to 'Wettpools', pools_path() %> › <%= @pool.full_title %></h1>

<p>Manager <%= @pool.user.name %>,
  <%= link_to "#{@pool.players.size} Mitspieler (Alle Tipps)", pool_plays_path(@pool) %></p>

<p><%= @pool.welcome %></p>


<table>
<% ranking=-1; last_points=-1 %>
<% @pool.plays.order( 'points desc' ).each_with_index do |play,i| %>
  <% ranking=i+1 if play.points != last_points %>
  
  <!-- don't add css class (ranking, that is, bigger) if all scores are 0 -->
  <% if ranking == 1 && play.points == 0 %>
    <tr><!-- everyone is a winner #1 - all points 0 -->
  <% else %>
    <tr class='<%= "ranking#{ranking}" %>'>
  <% end %>
    <td>
      <!-- add ranking e.g. 1., 2. etc.; check for same scores (don't display if ex equo for followers)-->
      <%= if play.points != last_points then "#{ranking}." else '' end %>
    </td>
    <td><%= link_to play.user.name, pool_play_path( play.pool_id, play.user_id ) %></td>
    <td><%= play.points %></td>
    <td>Punkte</td>
  </tr>
  <% last_points = play.points %>
<% end %>
</table>

<% machmit = true
   @pool.players.each_with_index do |player,i|
     machmit = false if current_user?( player )
   end
 %>

<div>
<% if machmit %>
  <%= link_to 'Mach mit! Mittippen!', add_player_to_pool_path( @pool ), :class => 'btn-primary' %>
<% else %>
  <%= link_to 'Meine Tipps bearbeiten', edit_pool_play_path( @pool, current_user() ), :class => 'btn-primary' %>
<% end %>
  
<%= link_to 'Zurück', pools_path(), :class => 'btn' %>
</div>