<% title( @pool.full_title ) %>

<% content_for :breadcrumb do %>
 <%= link_to 'Wettpools', pools_path() %> ›
 <%= link_to @pool.full_title, pool_path( @pool) %>
<% end %>


<!-- todo:
   use current_play = nil or obj  instead of machmit  => lets us use play route for edit!!
  -->

<% machmit = (@pool.players.include?( current_user ) == false) %>
  
<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
       <h1><%= @pool.full_title %></h1>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
<% if machmit %>
  <%= link_to t(:join_pool), add_player_to_pool_path( @pool ), :class => 'btn-primary' %>
<% else %>
  <%= link_to t(:edit_bets), edit_pool_player_path( @pool, current_user() ), :class => 'btn-primary' %>
<% end %>
    </td>
  </tr>
</table>


<p>
  Manager <%= @pool.user.name %>,
  <%= link_to "#{@pool.players.size} Mitspieler (Alle Tipps)", plays_path( :pool_id => @pool.id ) %>
</p>

<p><%= raw( @pool.welcome_html ) %></p>




<table width='100%' cellspacing=0>

<% @pool.bonus_rounds.reorder('pos desc').each do |round| %>

<tr>
  <td colspan='2' style='background-color: lightgrey;'><%= round.title %></td>
</tr>

  <tr>
    <!-- left -->
    <td>
  <!-- runden ergebnis -->

    <table>
  <%
     last_pts=-1
     BonusPoint.where( :pool_id => @pool.id, :round_id => round.id ).order( 'round_pts desc').each do |ranking|
   %>
      
     <!-- don't add css class (ranking, that is, bigger) if all scores are 0 -->
     <% if ranking.round_pos == 1 && ranking.round_pts == 0 %>
       <tr><!-- everyone is a winner #1 - all points 0 -->
     <% else %>
       <tr class='<%= "ranking#{ranking.round_pos}" %>'>
     <% end %>
        <td>
          <!-- add ranking e.g. 1., 2. etc.; check for same scores (don't display if ex equo for followers)-->
          <%#= "#{ranking.round_pos}." if ranking.round_pts != last_pts %>
        </td>
        <td>
          <span class='<%= hl_style_for_user(ranking.user) %>'>
            <%= link_to ranking.user.name, pool_player_path( @pool.id, ranking.user ) %>
          </span>
        </td>
        <td><%= ranking.round_pts %> Punkte</td>
      </tr>
  <%
    last_pts = ranking.round_pts
    end
   %>
     </table>
     
    </td>
    <!-- right -->
    <td>
  <!-- gesamt ergebnis -->

    <table>
  <%  last_pts=-1
      BonusPoint.where( :pool_id => @pool.id, :round_id => round.id ).order( 'total_pts desc').each do |ranking|
   %>
     <!-- don't add css class (ranking, that is, bigger) if all scores are 0 -->
     <% if ranking.total_pos == 1 && ranking.total_pts == 0 %>
       <tr><!-- everyone is a winner #1 - all points 0 -->
     <% else %>
       <tr class='<%= "ranking#{ranking.total_pos}" %>'>
     <% end %>
        <td>
          <!-- add ranking e.g. 1., 2. etc.; check for same scores (don't display if ex equo for followers)-->
          <%#= "#{ranking.total_pos}." if ranking.total_pts != last_pts %>
        </td>
        <td>
          <!-- add diff pos? -->
        </td>
        <td>
          <span class='<%= hl_style_for_user(ranking.user) %>'>
            <%= link_to ranking.user.name, pool_player_path( @pool.id, ranking.user ) %>
          </span>
        </td>
        <td><%= ranking.total_pts %> Punkte</td>
      </tr>
  <%
      last_pts = ranking.total_pts
      end
  %>
     </table>
      
    </td>
  </tr>

<% end %><!-- each rounds -->
</table>

<!-------
  ----->

<table width='100%' cellspacing=0>

<!-- todo/fix: use better lookup for rounds (e.g. use round.over? round.past? or similar??) -->
<!-- note: need to use reorder (to override default ordering!) -->
<%
   rounds = @pool.flex? ? @pool.event.flex_rounds.reorder('pos desc') : @pool.event.fix_rounds.reorder('pos desc')
   rounds.each do |round|
 %>

<tr>
  <td colspan='2' style='background-color: lightgrey;'><%= round.title %></td>
</tr>

  <tr>
    <!-- left -->
    <td>
  <!-- runden ergebnis -->

    <table>
  <%
     last_pts=-1
     Point.where( :pool_id => @pool.id, :round_id => round.id ).order( 'round_pts desc').each do |ranking|
   %>
      
     <!-- don't add css class (ranking, that is, bigger) if all scores are 0 -->
     <% if ranking.round_pos == 1 && ranking.round_pts == 0 %>
       <tr><!-- everyone is a winner #1 - all points 0 -->
     <% else %>
       <tr class='<%= "ranking#{ranking.round_pos}" %>'>
     <% end %>
        <td>
          <!-- add ranking e.g. 1., 2. etc.; check for same scores (don't display if ex equo for followers)-->
          <%= "#{ranking.round_pos}." if ranking.round_pts != last_pts %>
        </td>
        <td>
          <span class='<%= hl_style_for_user(ranking.user) %>'>
            <%= link_to ranking.user.name, pool_player_path( @pool.id, ranking.user ) %>
          </span>
        </td>
        <td><%= ranking.round_pts %> Punkte</td>
      </tr>
  <%
    last_pts = ranking.round_pts
    end
   %>
     </table>
     
    </td>
    <!-- right -->
    <td>
  <!-- gesamt ergebnis -->

    <table>
  <%  last_pts=-1
      Point.where( :pool_id => @pool.id, :round_id => round.id ).order( 'total_pts desc').each do |ranking|
   %>
     <!-- don't add css class (ranking, that is, bigger) if all scores are 0 -->
     <% if ranking.total_pos == 1 && ranking.total_pts == 0 %>
       <tr><!-- everyone is a winner #1 - all points 0 -->
     <% else %>
       <tr class='<%= "ranking#{ranking.total_pos}" %>'>
     <% end %>
        <td>
          <!-- add ranking e.g. 1., 2. etc.; check for same scores (don't display if ex equo for followers)-->
          <%= "#{ranking.total_pos}." if ranking.total_pts != last_pts %>
        </td>
        <td>
          <span class='<%= ranking.diff_total_pos_style_class %>'>
            <%= ranking.diff_total_pos_str %>
          </span>
        </td>
        <td>
          <span class='<%= hl_style_for_user(ranking.user) %>'>
            <%= link_to ranking.user.name, pool_player_path( @pool.id, ranking.user ) %>
          </span>
        </td>
        <td><%= ranking.total_pts %> Punkte</td>
      </tr>
  <%
      last_pts = ranking.total_pts
      end
  %>
     </table>
      
    </td>
  </tr>

<% end %><!-- each rounds -->
</table>