<% title( @pool.full_title ) %>

<% content_for :breadcrumb do %>
 <%= link_to 'Wettpools', pools_path() %> ›
 <%= link_to @pool.full_title, pool_path( @pool) %>
<% end %>


<!-- todo:
   use current_play = nil or obj  instead of machmit  => lets us use play route for edit!!
  -->

<% machmit = (@pool.players.include?( current_user ) == false) %>
  
<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
       <h1><%= @pool.full_title %></h1>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
<% if machmit %>
  <%= link_to 'Mach mit! Mittippen!', add_player_to_pool_path( @pool ), :class => 'btn-primary' %>
<% else %>
  <%= link_to 'Meine Tipps bearbeiten', edit_pool_player_path( @pool, current_user() ), :class => 'btn-primary' %>
<% end %>
    </td>
  </tr>
</table>





<p>
  Manager <%= @pool.user.name %>,
  <%= link_to "#{@pool.players.size} Mitspieler (Alle Tipps)", plays_path( :pool_id => @pool.id ) %>
</p>

<p><%= @pool.welcome %></p>


<table>
<% ranking=-1; last_points=-1 
   @pool.plays.order( 'points desc' ).each_with_index do |play,i| 
    ranking=i+1 if play.points != last_points
 %>
  
  <!-- don't add css class (ranking, that is, bigger) if all scores are 0 -->
  <% if ranking == 1 && play.points == 0 %>
    <tr><!-- everyone is a winner #1 - all points 0 -->
  <% else %>
    <tr class='<%= "ranking#{ranking}" %>'>
  <% end %>
    <td>
      <!-- add ranking e.g. 1., 2. etc.; check for same scores (don't display if ex equo for followers)-->
      <%= "#{ranking}." if play.points != last_points %>
    </td>
    <td>
      <span class='<%= hl_style_for_user(play.user) %>'>
        <%= link_to play.user.name, play_path( play.id ) %>
      </span>
    </td>
    <td><%= play.points %></td>
    <td>Punkte</td>
  </tr>
  <% last_points = play.points %>
<% end %><!-- each plays -->
</table>
