
<h1>Wettpool Anmeldung</h1>

<table>
<tr>
  <td><!-- begin 1st column -->
<% if request.host == 'wettpool.herokuapp.com' || request.host == 'localhost' %>
<div>
  <b>Welcome.</b> Wettpool - A Free, Open Source Sports Betting Pool
      (Euro 2012, Champions League 2012, etc.) in Ruby on Rails.
      
   <a href="http://geraldb.github.com/wettpool">More &raquo;</a>      
</div>
<% end %>
    <!-- end 1st column -->
  </td>
  
  <td><!-- begin 2nd column -->

<%= form_for @user, :url => session_path() do |f| %>

<div style='padding: 20px; background-color: #F1F1F1;'>
 <div>
    <%= f.label :email, 'Email' %><br/>
    <%= f.text_field :email, :data => { :autofocus => true } %>
 </div>
 
  <div>
     <%= f.label :password, 'Passwort' %><br/>
     <%= f.password_field :password %>
  </div>
  
  <div style='padding-top: 15px;' >
    <%= f.submit 'Anmelden', :class => 'btn-primary' %>
  </div>
</div>  

<% end %>
  
   <!-- end 2nd column -->
  </td>
</tr>    
</table>





<div style='color: grey;'>
<hr>
<p style='font-size: 12px;'>Version Info</p>
<table>
<% Prop.order( 'created_at asc' ).all.each do |prop| %>
  <tr>
    <td style='font-size: 12px;'><%= "#{prop.key}/#{prop.value}" %></td>
    <td style='font-size: 12px;'><%= "(#{prop.created_at})" %></td>
  </tr>
<% end %>
</table>
</div>