
<h1>Wettpool Anmeldung</h1>

<% if request.host == 'wettpool.herokuapp.com' || request.host == 'localhost' %>
<div class='flash info'>
  <b>Zur Info:</b> Der USS EF Wettpool ist nach <a href='http://tipp.herokuapp.com'>tipp.herokuapp.com</a> gewandert.
  Alle Tipps wurden nach <a href='http://tipp.herokuapp.com'>tipp.herokuapp.com</a> überspielt.
  Bitte alle Links updaten und unter <a href='http://tipp.herokuapp.com'>tipp.herokuapp.com</a>
  anmelden.
</div>
<% end %>


<%= form_for @user, :url => session_path() do |f| %>
 <div>
    <%= f.label :email, 'Email' %><br/>
    <%= f.text_field :email, :data => { :autofocus => true } %>
 </div>
 
  <div>
     <%= f.label :password, 'Passwort' %><br/>
     <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.submit 'Anmelden', :class => 'btn-primary' %>
  </div>
<% end %>


<div style='color: grey;'>
<hr>
<p style='font-size: 12px;'>Version Info</p>
<table>
<% Prop.order( 'created_at asc' ).all.each do |prop| %>
  <tr>
    <td style='font-size: 12px;'><%= "#{prop.key}/#{prop.value}" %></td>
    <td style='font-size: 12px;'><%= "(#{prop.created_at})" %></td>
  </tr>
<% end %>
</table>
</div>