<h1><%= Team.count %> Teams</h1>

<table>
 <% @teams.each do |team| %>
   <tr>
     <td>(<%= team.id %>)</td>
     <td>
         <%= logo_for_team( team ) %>
     </td>
     <td><%= team.title %> (<%= team.key %>)</td>
   </tr>
 <% end %><!-- teams.each -->
</table>
