<!-- NB: only use for fix pools -->

<!-- requires: groups, user, pool, f (form) -->


<!-- table columns:
        1    => toto12x
        2    => bingo
        3    => team1
        4    => tip 
        5    => result
        6    => team2
        7    => round title
        8    => date
        
        9    => table/standing (n rowspan)
  -->

<% groups.each do |group| %>
<table class='play keep-together' cellspacing=0>
<tr class='game-group'>
  <td colspan='3'></td>
  <td colspan='6' class='game-group-title'><%= group.title %></td>
</tr>
  
<tr>
  <td colspan='9'>

<table>
 <tr>
  <td><!-- begin 1st column -->
<table class='standing'>
    <tr id='standing-g<%= group.id %>'>
       <td>Tabelle</td>
       <td>Spiele</td>
       <td>S</td>
       <td>U</td>
       <td>N</td>
       <td>Tore</td>
       <td>+/-</td>
       <td>Punkte</td>
     </tr>
    <% group.teams.each do |team| %>
        <tr id='standing-t<%= team.id %>'>
          <td><%= team.title %></td>
          <td class='right'>0</td>
          <td class='right'>0</td>
          <td class='right'>0</td>
          <td class='right'>0</td>
          <td class='right'>0 - 0</td>
          <td class='right'>0</td>
          <td class='right'>0</td>
        </tr>
    <% end %>
</table>
</td><!-- end 1st column -->

<% if show_odds %>
<td><!-- begin 2nd column -->
<table class='odds'>
 <tr>
<% Service.all.each do |srv| %>
   <td>
    <%= srv.title %><br>
  <% srv.group_quotes.where( :group_id => group.id ).each do |quote| %>
     <%= quote.team.tag %> <%= fmt_quote( quote.odds ) %><br>
  <% end %><!-- each qoute -->
  </td>
<% end %><!-- each service -->
</tr>
</table>
</td><!-- end 2nd column -->
<% end %><!-- show odds? -->
</tr>
</table>
  
  </td>
</tr>
  
  
  <% group.games.each do |game| %>
  
    <%= render :partial => 'tr_game_with_tip',
               :locals  => { :game => game,
                             :tip  => Tip.find_by_user_and_pool_and_game( user, pool, game ),
                             :show_round => true,
                             :show_group => false,
                             :show_odds  => show_odds,
                             :f => f,
                             :tabindex => (tabindex+=10) }  %>

  <% end %><!-- game -->
</table>
<% end %><!-- groups -->