<!-- requires: game, tip, tabindex, f (form) -->

<!-- options:
      - show_group
      - show_round  -->


<tr id='game<%= game.id %>'>

  <% if tip.present? %>
    <% if game.over? || tip.locked? %>
      <!-- fix/todo: add a flag/icon for locked? game over? -->
      <%= render_tip_toto12x( tip )  %>
      <%= render_tip_bingo( tip )  %>
      <%= render_game_team1( game ) %>
      <%= render_tip_score( tip )  %>
      <%= render_game_score( game ) %>
    <% else %>
      <td><!-- no tip.toto12x yet --></td>
      <td><!-- no tip.bingo yet --></td>
      <%= render_game_team1( game ) %>
      <%= render_tip_score_input_for_form( tip, f, :tabindex => tabindex ) %>
      <td><!-- no game.score yet --></td>
    <% end %>
    <%= render_game_team2( game ) %>
  <% else %> <!-- no tip present -->
    <td><!-- no tip.toto12x yet --></td>
    <td><!-- no tip.bingo yet --></td>
    <%= render_game_team1( game ) %>
    <td class='tip-score'>♦<!-- fehler: tip datensatz fehlt! --></td>
    <%= render_game_score( game ) %>
    <%= render_game_team2( game ) %>
  <% end %>


  <td>
<% if show_odds && game.quotes.count > 0 %>
    <table class='odds'>
      <tr>
        <td class='center'>1</td>
        <td class='center'>X</td>
        <td class='center'>2</td>
        <td></td>
      </tr>
<% game.quotes.each do |quote| %>
<tr>
  <td><%= fmt_quote( quote.odds1 ) %></td>
  <td><%= fmt_quote( quote.oddsx ) %></td>
  <td><%= fmt_quote( quote.odds2 ) %></td>
  <td>(<%= quote.service.title %>)</td>
    <!-- add last updated? -->
</tr>
<% end %><!-- each quote -->
     </table>
<% end %><!-- show odds? -->
  </td>

  
  <td class='game-group game-round'>
    <% if show_group %>
      <%= "(#{game.group.title})" if game.group %>
    <% elsif show_round %>
      <%= "(#{game.round.title})" %>
    <% end %>
  </td>

  <%= render_game_date( game ) %>

</tr>