<!-- requires: game, tip, tabindex, f (form) -->

<!-- options:
      - show_group
      - show_round  -->

      
<tr id='game<%= game.id %>'>

  <% if tip.present? %>
    <% if game.over?  %>
      <%= render :partial => 'td_tip_toto12x',  :locals => { :tip  => tip }  %>
      <%= render :partial => 'td_tip_bingo',    :locals => { :tip  => tip }  %>
      <%= render :partial => 'td_game_team1',   :locals => { :game => game } %>
      <%= render :partial => 'td_tip_score',    :locals => { :tip  => tip }  %>
      <%= render :partial => 'td_game_score',   :locals => { :game => game } %>
    <% else %>
      <td><!-- no tip.toto12x yet --></td>
      <td><!-- no tip.bingo yet --></td>
      <%= render :partial => 'td_game_team1',   :locals => { :game => game } %>
      <%= render :partial => 'td_tip_score_input',
                 :locals  => { :tip      => tip,
                               :tabindex => tabindex,
                               :f        => f } %>
      <td><!-- no game.score yet --></td>
    <% end %>
    <%= render :partial => 'td_game_team2',   :locals => { :game => game } %>
  <% else %> <!-- no tip present -->
    <td><!-- no tip.toto12x yet --></td>
    <td><!-- no tip.bingo yet --></td>
    <%= render :partial => 'td_game_team1',   :locals => { :game => game } %>
    <td class='tip-score'>♦<!-- fehler: tip datensatz fehlt! --></td>
    <%= render :partial => 'td_game_score',   :locals => { :game => game } %>
    <%= render :partial => 'td_game_team2',   :locals => { :game => game } %>  
  <% end %>
  
  <td>
    <% if show_group %>
      <%= "(#{game.group.title})" if game.group %>
    <% elsif show_round %>
      <%= "(#{game.round.title})" %>
    <% end %>
  </td>

  <%= render :partial => 'td_game_date',    :locals => { :game => game } %>

</tr>



<% if show_odds && game.quotes.count > 0 %>
<tr>
  <td colspan='2'></td>
  <td colspan='3'>
    <table>
      <tr>
        <td>1</td>
        <td>X</td>
        <td>2</td>
        <td></td>
      </tr>

<% game.quotes.each do |quote| %>
<tr>
  <td><%= fmt_quote( quote.odds1 ) %></td>
  <td><%= fmt_quote( quote.oddsx ) %></td>
  <td><%= fmt_quote( quote.odds2 ) %></td>
  <td>(<%= quote.service.title %>)</td>
    <!-- add last updated? -->
</tr>
<% end %>

     </table>
  </td>
</tr>
<% end %>
