<% title( @user.name, @pool.full_title ) %>

<h1><%= link_to @pool.full_title, pool_path(@pool) %> › <%= @user.name %></h1>

<%= form_for @play, :url => play_path( @play ), :html => { :method => 'put' } do |f| %>  

<table>
 <tr>
   <td><%= f.label :team1_id, '1. Platz' %></td>
   <td><%= f.select :team1_id, @team_options %></td>
 </tr>
 <tr>
   <td><%= f.label :team2_id, '2. Platz' %></td>
   <td><%= f.select :team2_id, @team_options %></td>
 </tr>
 <% if @pool.team3? %>
 <tr>
   <td><%= f.label :team3_id, '3. Platz' %></td>
   <td><%= f.select :team3_id, @team_options %></td>
 </tr>
  <% end %><!-- if pool.team3? -->
</table>


<table class='play'>
<% first_field = true %>
<% @rounds.each do |round| %>
<tr class='game-round'>
  <td></td>
  <td colspan='3' class='game-round-title'><%= round.title %></td>
</tr>
  <% if @pool.flex? && round.calc? %>
     <tr>
       <td colspan='3' class='game-no-fixtures'>Spielaufstellungen noch nicht bekannt.</td>
     </tr>
  <% else %>
  <% round.games.each do |game| %>
  <% tip = Tip.find_by_user_and_pool_and_game( @user, @pool, game ) %>
   <tr>
    <td class='game-team1'> 
         <span class='<%= game.team1_style_class %>'>
           <%= game.team1.title %>
         </span> 
         <%= image_tag( game.team1.img ) if game.team1.img.present? %>
    </td>

   <% if game.over?  %>
     <td class='game-score'>
      <%= game.score1 %> : <%= game.score2 %>
     </td>
   <% else %>
   <% if tip.present? %>
     <td>
  <%= f.fields_for 'tips[]', tip do |ff| %>
     <%= ff.hidden_field :user_id %>
     <%= ff.hidden_field :pool_id %>
     <%= ff.hidden_field :game_id %>
     <% if first_field %>
       <%= ff.text_field :score1, :size => 2, 'data-autofocus' => 'true' %>
       <% first_field = false %>
      <% else %>
       <%= ff.text_field :score1, :size => 2 %>
      <% end %>
       :
     <%= ff.text_field :score2, :size => 2 %>   
  <% end %><!-- fields_for tips -->
     </td>
       <% else %><!-- tip.present? -->
          <td class='game-tip'>♦<!-- fehler: datensatz fehlt! --></td>
       <% end %>
   <% end %> <!-- game.over? -->
    
       <td class='game-team2'>
         <%= image_tag( game.team2.img ) if game.team2.img.present? %>
         <span class='<%= game.team2_style_class %>'>
           <%= game.team2.title %>
         </span>
       </td>
       <td class='game-date'>
              <%= fmt_date( game.play_at ) %>
       </td>
   </tr>
  <% end %><!-- game -->
 <% end %> <!-- if pool.flex? && round.calc? -->  
<% end %><!-- rounds -->
</table>


<p>
  <%= f.submit "Tipps speichern", :class => 'btn-primary' %>
  <%= link_to 'Zurück', pool_path( @pool ), :class => 'btn' %>
</p>  
<% end %>  