<% title( @user.name, @pool.full_title ) %>

<% content_for :breadcrumb do %>
 <%= link_to 'Wettpools', pools_path() %> ›
 <%= link_to @pool.full_title, pool_path(@pool) %> ›
 <%= link_to @user.name, edit_play_path( @play ) %>
<% end %>

<!-- add hotkey handler for quick tip autofill -->
<script>

 // function testTimer()
 // {
 //   $( '#debug').append( '<p>' + new Date().toString() + '</p>' );
 // }

 $(document).ready( function() {  
  
  recalcPlayTips();
  
  $(document).on( 'keydown', function( event ) {
    if( (event.ctrlKey && event.which == 81) || (event.which == 81) )  // ASCII 81 = Q
    {
       event.preventDefault();
       autofillPlayTips();
       recalcPlayTips();
       return false;  // todo: check if return false is  needed?
     }
     else if( (event.ctrlKey && event.which == 67) || (event.which == 67) )  // ASCII 67 = C
     {
       event.preventDefault();
       recalcPlayTips();
       return false;  // todo: check if return false is  needed?
     }
  });
  
  // quick and dirty hack
  //  do a recalc every ~2 seconds (e.g. 1500 ms)
  
  var recalcTimer = setInterval( recalcPlayTips, 1500 );
  
});
</script>


<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
       <h1><%= @user.name %> - <%=  @pool.full_title %> Tipps</h1>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
        <%= link_to 'Quick Tipp (Auto-Fill)', '#', :class => 'btn', :onclick => 'autofillPlayTips();' %>
    </td>
  </tr>
</table>





<%= form_for @play, :url => play_path( @play ), :html => { :method => 'put' } do |f| %>  

<table>
 <tr>
   <td><%= f.label :team1_id, '1. Platz' %></td>
   <td><%= f.select :team1_id, Lookup.team_options_for_event( @pool.event ) %></td>
 </tr>
 <tr>
   <td><%= f.label :team2_id, '2. Platz' %></td>
   <td><%= f.select :team2_id, Lookup.team_options_for_event( @pool.event ) %></td>
 </tr>
 <% if @pool.team3? %>
 <tr>
   <td><%= f.label :team3_id, '3. Platz' %></td>
   <td><%= f.select :team3_id, Lookup.team_options_for_event( @pool.event ) %></td>
 </tr>
  <% end %><!-- if pool.team3? -->
</table>





<!-- table columns:
        1    => toto12x
        2    => bingo
        3    => team1
        4    => tip 
        5    => result
        6    => team2
        7    => date
  -->

<table>
 <tr>
  <td><!-- begin column 1 -->

<table class='play' cellspacing=0>
<% first_field = true 
   @rounds.each do |round|
 %>
<tr class='game-round'>
  <td colspan='3'></td>
  <td colspan='4' class='game-round-title'><%= round.title %></td>
</tr>
  <% if @pool.flex? && round.calc? %>
     <tr>
       <td colspan='2'></td>
       <td colspan='4' class='game-no-fixtures'>Spielaufstellungen noch nicht bekannt.</td>
     </tr>
  <% else %>
  <% round.games.each do |game| %>
  <% tip = Tip.find_by_user_and_pool_and_game( @user, @pool, game ) %>
   <tr>
     <% if game.over?  %>
       <%= render :partial => 'td_tip_toto12x',  :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_tip_bingo',    :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_game_team1',   :locals => { :game => game } %>
       <%= render :partial => 'td_tip_score',    :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_game_score',   :locals => { :game => game } %>
       <%= render :partial => 'td_game_team2',   :locals => { :game => game } %>
       <%= render :partial => 'td_game_date',    :locals => { :game => game } %>
     <% else %>
       <td colspan='2'></td>
       <%= render :partial => 'td_game_team1',   :locals => { :game => game } %>
       <% if tip.present? %>
         <td class='tip-score-input'>
  <%= f.fields_for 'tips[]', tip do |ff| %>
     <%= ff.hidden_field :user_id %>
     <%= ff.hidden_field :pool_id %>
     <%= ff.hidden_field :game_id %>
     <% if first_field %>
       <%= ff.text_field :score1, :size => 1,
            :data => { :autofocus => 'true',
                       :knockout => game.knockout,
                       :autofill => 'score1',
                       :team1    => game.team1_id } %>
       <% first_field = false %>
      <% else %>
       <%= ff.text_field :score1, :size => 1,
             :data => { :knockout => game.knockout,
                        :autofill => 'score1',
                        :team1    => game.team1_id } %>
      <% end %>
       :
     <%= ff.text_field :score2, :size => 1,
          :data => { :knockout => game.knockout,
                     :autofill => 'score2',
                     :team2 => game.team2_id,
                     :game  => game.id,
                     :group => game.group_id } %>
  <% end %><!-- fields_for tips -->
       </td>
       <% else %><!-- tip.present? -->
          <td class='tip-score'>
            ♦<!-- fehler: datensatz fehlt! -->
          </td>
       <% end %><!-- tip.present? -->
       <td><!-- no game.scores yet --></td>
       <%= render :partial => 'td_game_team2', :locals => { :game => game } %>
       <td><%= "(#{game.group.title})" if game.group %></td>
       <%= render :partial => 'td_game_date', :locals => { :game => game } %>
   <% end %> <!-- game.over? -->
    
   </tr>
  <% end %><!-- game -->
 <% end %> <!-- if pool.flex? && round.calc? -->  
<% end %><!-- rounds -->
</table>

  <!-- end column 1 -->
  </td>
 <td style='vertical-align: top;'>
   <!-- begin column 2 -->
   
<table>
   <% @groups.each do |group| %>
      <tr id='standing-g<%= group.id %>' style='background-color: silver;'>
       <td>Tabelle <%= group.title %></td>
       <td>Spiele</td>
       <td>S</td>
       <td>U</td>
       <td>N</td>
       <td>Tore</td>
       <td>+/-</td>
       <td>Punkte</td>
      </tr>
      <% group.teams.each do |team| %>
        <tr id='standing-t<%= team.id %>'>
          <td><%= team.title %></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0 - 0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      <% end %>
   <% end %>
</table>

   <!-- end column 2 -->
 </td>
</tr>
</table>


<p>
  <%= f.submit "Tipps speichern", :class => 'btn-primary' %>
  <%= link_to 'Zurück', play_path( @play ), :class => 'btn' %>
</p>  
<% end %>

<div id='debug'></div>