<% title( 'Alle', @pool.full_title ) %>

<% content_for :breadcrumb do %>
 <%= link_to 'Wettpools', pools_path() %> ›
 <%= link_to @pool.full_title, pool_path(@pool) %> ›
 Alle Tipps
<% end %>


<!-- todo:
   use current_play = nil or obj  instead of machmit  => lets us use play route for edit!!
  -->

<% machmit = true
   @pool.players.each do |player,i|
     machmit = false if current_user?( player )
   end
 %>

<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
      <h1><%= @pool.full_title %> Tipps</h1>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
<% if machmit %>
  <%= link_to 'Mach mit! Mittippen!', add_player_to_pool_path( @pool ), :class => 'btn-primary' %>
<% else %>
  <%= link_to 'Meine Tipps bearbeiten', edit_pool_player_path( @pool, current_user() ), :class => 'btn-primary' %>
<% end %>
    </td>
  </tr>
</table>


<table>
  <tr>
    <td></td>
    <td>1. Platz</td>
    <td>2. Platz</td>
    <% if @pool.team3? %><td>3. Platz</td><% end %>
  </tr>
  <% @users.each do |user| %>
    <% play = Play.find_by_pool_id_and_user_id!( @pool.id, user.id ) %>
    <tr>
       <td>
         <span class='<%= hl_style_for_user(user) %>'>
           <%= link_to user.name, play_path(play.id) %>
         </span>
       </td>
       <td>
          <!-- fix: use helper or partial -->
        <% if play.team1.present? %>
           <%= image_tag( play.team1.img ) if play.team1.img.present? %>
           <%= play.team1.title %>
        <% else %>
           <span class='missing'>?</span>
        <% end %>
       </td>
       <td>
        <% if play.team2.present? %>
          <%= image_tag( play.team2.img ) if play.team2.img.present? %>
          <%= play.team2.title %>
        <% else %>
           <span class='missing'>?</span>
        <% end %>
       </td>
       <% if @pool.team3? %>
       <td>
        <% if play.team3.present? %>
           <%= image_tag( play.team3.img ) if play.team3.img.present? %>
           <%= play.team3.title %>
        <% else %>
           <span class='missing'>?</span>
        <% end %>
       </td>
     <% end %>
    </tr>
  <% end %><!-- users.each -->
</table>



<!-- table columns:
        1    => toto12x
        2    => team1
        3..n => tip 
       -3    => result
       -2    => team2
  last/-1    => date
  -->

<table class='plays' cellspacing=0>
<tr>
  <td colspan='2'></td>
  <% @users.each do |user| %>
   <td class='player-name'>
    <span class='<%= hl_style_for_user(user) %>'>
     <%= raw( user.name.split(' ').join( '<br>' ) ) %>
    </span>
   </td>
  <% end %><!-- users.each -->
</tr>


<% @rounds.each do |round| %>
<tr class='game-round'>
  <td colspan='2'></td>
  <td colspan='<%= 3+@users.count %>' class='game-round-title'><%= round.title %></td>
</tr>

  <% if @pool.flex? && round.calc? %>
     <tr>
       <td></td>
       <td colspan='<%= 3+@users.count %>' class='game-no-fixtures'>
          Spielaufstellungen noch nicht bekannt.
       </td>
     </tr>
  <% else %>
  <% round.games.each do |game| %>
    <tr>
      <!-- todo/fix: use td partials -->
       <td class='game-toto12x'>
         <%= "(#{game.toto12x})" if game.complete? %>
       </td>
       <td class='game-team1'>
         <span class='<%= game.team1_style_class %>'>
          <%= game.team1.title %>
         </span>
         <%= image_tag( game.team1.img ) if game.team1.img.present? %>
       </td>
       
      <% @users.each do |user| %>
        <% tip = Tip.find_by_user_and_pool_and_game( user, @pool, game ) %>

         <td class='game-tip'>
          <% if tip.present? %>
            <span class='<%= tip.bingo_style_class %>'>
              <%= tip.score_str %>
            </span>
           <% else %>
              ♦  <!-- fehler: datensatz fehlt! -->
           <% end %>
         </td>

      <% end %><!-- users.each --> 

         <td class='game-score'>
         ( <%= game.score1_str %> : <%= game.score2_str %> )
         </td>
       
       <td class='game-team2'>
          <%= image_tag( game.team2.img ) if game.team2.img.present? %>
          <span class='<%= game.team2_style_class %>'>
             <%= game.team2.title %>
          </span>
        </td>

         <td class='game-date'>
            <!-- fix: use game.play_at_str -->
            <%= fmt_date( game.play_at ) %>
         </td>
     </tr>
  <% end %> <!-- games.each -->
 <% end %> <!-- if pool.flex? && round.calc? -->  
<% end %> <!-- rounds.each -->

<tr>
  <td colspan='2'></td>
  <% @users.each do |user| %>
   <td class='player-name'>
    <span class='<%= hl_style_for_user(user) %>'>
     <%= raw( user.name.split(' ').join( '<br>' ) ) %>
    </span>
   </td>
  <% end %><!-- users.each -->
</tr>

</table>