<% title( 'Alle', @pool.full_title ) %>

<h1><%= link_to @pool.full_title, pool_path(@pool) %> › Alle</h1>

<table>
  <tr>
    <td></td>
    <td>1. Platz</td>
    <td>2. Platz</td>
    <% if @pool.team3? %><td>3. Platz</td><% end %>
  </tr>
  <% @users.each do |user| %>
    <% play = Play.find_by_pool_id_and_user_id!( @pool.id, user.id ) %>
    <tr>
       <td><%= link_to user.name, pool_play_path(@pool.id, user.id) %></td>
       <td>
          <!-- fix: use helper or partial -->
        <% if play.team1.present? %>
           <%= image_tag( play.team1.img ) if play.team1.img.present? %>
           <%= play.team1.title %>
        <% else %>
          ---
        <% end %>
       </td>
       <td>
        <% if play.team2.present? %>
          <%= image_tag( play.team2.img ) if play.team2.img.present? %>
          <%= play.team2.title %>
        <% else %>
          ---
        <% end %>
       </td>
       <% if @pool.team3? %>
       <td>
        <% if play.team3.present? %>
           <%= image_tag( play.team3.img ) if play.team3.img.present? %>
           <%= play.team3.title %>
        <% else %>
          ---
        <% end %>
       </td>
     <% end %>
    </tr>
  <% end %><!-- users.each -->
</table>



<!-- table columns:
        1    => toto12x
        2    => team1
        3..n => tip 
       -3    => result
       -2    => team2
  last/-1    => date
  -->

<table class='plays'>
<tr>
  <td colspan='2'></td>
  <% @users.each do |user| %>
   <td class='player-name'>
     <%= raw( user.name.split(' ').join( '<br>' ) ) %>
   </td>
  <% end %><!-- users.each -->
</tr>


<% @groups.each do |group| %>
<tr class='game-group'>
  <td colspan='2'></td>
  <td colspan='<%= 3+@users.count %>' class='game-group-title'><%= group.title %></td>
</tr>

  <% if @pool.flex? && group.calc? %>
     <tr>
       <td></td>
       <td colspan='<%= 3+@users.count %>' class='game-no-fixtures'>
          Spielaufstellungen noch nicht bekannt.
       </td>
     </tr>
  <% else %>
  <% group.games.each do |game| %>
    <tr>
       <td class='game-toto12x'>
         <%= "(#{game.toto12x})" if game.complete? %>
       </td>
       <td class='game-team1'>
         <span class='<%= game.team1_style_class %>'>
          <%= game.team1.title %>
         </span>
         <%= image_tag( game.team1.img ) if game.team1.img.present? %>
       </td>
       
      <% @users.each do |user| %>
        <% tip = Tip.find_by_user_and_pool_and_game( user, @pool, game ) %>

         <td class='game-tip'>
          <% if tip.present? %>
            <span class='<%= tip.bingo_style_class %>'>
              <%= tip.score1_str %> : <%= tip.score2_str %>
            </span>
           <% else %>
              ♦  <!-- fehler: datensatz fehlt! -->
           <% end %>
         </td>

      <% end %><!-- users.each --> 

         <td class='game-score'>
         ( <%= game.score1_str %> : <%= game.score2_str %> )
         </td>
       
       <td class='game-team2'>
          <%= image_tag( game.team2.img ) if game.team2.img.present? %>
          <span class='<%= game.team2_style_class %>'>
             <%= game.team2.title %>
          </span>
        </td>

         <td class='game-date'>
            <!-- fix: use game.play_at_str -->
            <%= fmt_date( game.play_at ) %>
         </td>
     </tr>
  <% end %> <!-- games.each -->
 <% end %> <!-- if pool.flex? && group.calc? -->  
<% end %> <!-- groups.each -->

<tr>
  <td colspan='2'></td>
  <% @users.each do |user| %>
   <td class='player-name'>
     <%= raw( user.name.split(' ').join( '<br>' ) ) %>
   </td>
  <% end %><!-- users.each -->
</tr>

</table>

<%= link_to '« Zurück', pool_path( @pool ), :class => 'btn' %>