<h1><%= link_to @pool.full_title, pool_path(@pool) %> › Alle </h1>

<table>
  <tr>
    <td></td>
    <td>1. Platz</td>
    <td>2. Platz</td>
    <% if @pool.team3? %><td>3. Platz</td><% end %>
  </tr>
  <% @users.each do |user| %>
    <% play = Play.where( :pool_id => @pool.id, :user_id => user.id ).first %>
    <tr>
       <td><%= user.name %></td>
       <td>
          <!-- fix: use helper or partial -->
        <% if play.team1.present? %>
          <% if play.team1.img.present? %>
           <%= image_tag( play.team1.img ) %>
          <% end %>
          <%= play.team1.title %>
        <% else %>
          ---
        <% end %>       
       </td>
       <td>
        <% if play.team2.present? %>
          <% if play.team2.img.present? %>
           <%= image_tag( play.team2.img ) %>
          <% end %>
          <%= play.team2.title %>
        <% else %>
          ---
        <% end %>       
       </td>
       <% if @pool.team3? %>
       <td>
        <% if play.team3.present? %>
          <% if play.team3.img.present? %>
           <%= image_tag( play.team3.img ) %>
          <% end %>
          <%= play.team3.title %>
        <% else %>
          ---
        <% end %>       
       </td>
     <% end %>
    </tr>
  <% end %><!-- users.each -->   
</table>



<table>

<tr>
  <td colspan='3'></td>
  <% @users.each do |user| %>
   <td style='font-size: 60%;'>
     <% names = user.name.split(' ') %>
     <%= raw( names.join( '<br>' ) ) %>
   </td>
  <% end %><!-- users.each -->   
</tr>



<% @groups.each do |group| %>
<tr>
  <td colspan='3'></td><td colspan='4'><b><%= group.title %></b></td>
</tr>


  <% if @pool.flex? && group.calc? %>
     <tr>
       <td colspan='2'></td>
       <td colspan='<%= 3+@users.count %>' style='text-align: center;'>
          Spielaufstellungen noch nicht bekannt.
       </td>
     </tr>
  <% else %>
  <% group.games.each do |game| %>
    <tr>
      <td><!-- bingo -->
      </td>
      <td><!-- 12X -->
      </td>
      
       <td style='text-align: right;'>
        <b>
          <% if game.team1.calc? %>
             <em><%= game.team1.title %></em>
          <% else %>
             <%= game.team1.title %>
          <% end %>
        </b>
     <% if game.team1.img.present? %>
        <%= image_tag( game.team1.img ) %>
     <% end %>
       </td>
       
      <% @users.each do |user| %>
        <% tip = Tip.find_by_user_and_pool_and_game( user, @pool, game ) %>
         
        <% if tip.present? %>
         <td>
          <% if tip.bingo? %>
             <span class='<%= tip.bingo_style_class %>'>
          <% end %>
          <b>
          <%= if tip.score1.blank? then "-" else "#{tip.score1}" end %>
           :
          <%= if tip.score2.blank? then "-" else "#{tip.score2}" end %>
          </b>
          <% if tip.bingo? %>
             </span>
          <% end %>
           |
         </td>
        <% else %>
          <td>♦<!-- fehler: datensatz fehlt! --> | </td>
        <% end %>
      <% end %><!-- users.each --> 

         <td>
          <b>
         (
         <%= if game.score1.blank? then "-" else "#{game.score1}" end %>
         :
         <%= if game.score2.blank? then "-" else "#{game.score2}" end %>
         )
           </b>
         </td>
       
       <td>
      <% if game.team2.img.present? %>
         <%= image_tag( game.team2.img ) %>
      <% end %>

        <b>
          <% if game.team2.calc? %>
             <em><%= game.team2.title %></em>
          <% else %>
             <%= game.team2.title %>
          <% end %>
         </b>
        </td>

         <td>
           <span class='light'>
            <%= fmt_date( game.play_at ) %>
           </span>
         </td>
     </tr>
  <% end %> <!-- games.each -->
 <% end %> <!-- if pool.flex? && group.calc? -->  
<% end %> <!-- groups.each -->

<tr>
  <td colspan='3'></td>
  <% @users.each do |user| %>
   <td style='font-size: 60%;'>
     <% names = user.name.split(' ') %>
     <%= raw( names.join( '<br>' ) ) %>
   </td>
  <% end %><!-- users.each -->   
</tr>

</table>

<%= link_to '« Zurück', pool_path( @pool ), :class => 'btn' %>