<% title( @user.name, @pool.full_title ) %>

<% content_for :breadcrumb do %>
 <%= link_to 'Wettpools', pools_path() %> ›
 <%= link_to @pool.full_title, pool_path(@pool)  %> ›
 <%= @user.name %>
<% end %>

<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
      <h1><%= @user.name %> - <%=  @pool.full_title %> Tipps</h1>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
      <% if current_user?( @user ) %> 
        <%= link_to 'Meine Tipps bearbeiten', edit_play_path( @play ), :class => 'btn-primary' %>
      <% end %>
    </td>
  </tr>
</table>


<table>
 <tr>
   <td>1. Platz</td>
   <td>
       <!-- fix: use helper or partial -->
     <% if @play.team1.present? %>
         <%= image_tag( @play.team1.img ) if @play.team1.img.present? %>
         <%= @play.team1.title %>
       <% else %>
           <span class='missing'>?</span>
       <% end %>
   </td>
 </tr>
 <tr>
   <td>2. Platz</td>
   <td>
       <% if @play.team2.present? %>
         <%= image_tag( @play.team2.img ) if @play.team2.img.present? %>
         <%= @play.team2.title %>
       <% else %>
           <span class='missing'>?</span>
       <% end %>
   </td>
 </tr>
 <% if @pool.team3? %>
 <tr>
   <td>3. Platz</td>
   <td><% if @play.team3.present? %>
         <%= image_tag( @play.team3.img ) if @play.team3.img.present? %>
         <%= @play.team3.title %>
       <% else %>
           <span class='missing'>?</span>
       <% end %>
   </td>
 </tr>
<% end %>
</table>


<!-- table columns:
        1    => toto12x
        2    => bingo
        3    => team1
        4    => tip 
        5    => result
        6    => team2
        7    => date
  -->

<table class='play' cellspacing=0>
  
<% @rounds.each do |round| %>
<tr class='game-round'>
  <td colspan='3'></td>
  <td colspan='4' class='game-round-title'><%= round.title %></td>
</tr>

  <% if @pool.flex? && round.calc? %>
     <tr>
       <td colspan='2'></td>
       <td colspan='4' class='game-no-fixtures'>Spielaufstellungen noch nicht bekannt.</td>
     </tr>
  <% else %>
   <% round.games.each do |game| 
         tip = Tip.find_by_user_and_pool_and_game( @user, @pool, game )
    %>
    <tr>

       <!-- todo: rename??? game_toto12x  => tip_toto12x
                            game_bingo    => tip_bingo
                            game_tip      => tip_score
        -->
        
       <%= render :partial => 'td_game_toto12x', :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_game_bingo',   :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_game_team1',   :locals => { :game => game } %>
       <%= render :partial => 'td_game_tip',     :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_game_score',   :locals => { :game => game } %>
       <%= render :partial => 'td_game_team2',   :locals => { :game => game } %>
       <%= render :partial => 'td_game_date',    :locals => { :game => game } %>

     </tr>
  <% end %> <!-- games -->
  <% end %> <!-- if pool.flex? && round.calc? -->
<% end %> <!-- rounds -->

</table>