<% title( @user.name, @pool.full_title ) %>

<% content_for :breadcrumb do %>
 <%= link_to 'Wettpools', pools_path() %> ›
 <%= link_to @pool.full_title, pool_path(@pool) %> ›
 <%= link_to @user.name, play_path(@play) %>
<% end %>

<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
      <h1><%= @user.name %> - <%=  @pool.full_title %> Tipps</h1>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
      <% if current_user?( @user ) %> 
        <%= link_to t(:edit_bets), edit_play_path( @play ), :class => 'btn-primary' %>
      <% end %>
    </td>
  </tr>
</table>


  <%= render_play_teams( @play ) %>



<!-- table columns:
        1    => toto12x
        2    => bingo
        3    => team1
        4    => tip 
        5    => result
        6    => team2
        7    => date
  -->

<table class='play' cellspacing=0>
  
<% @rounds.each do |round|
      ranking = Point.find_by_user_id_and_pool_id_and_round_id( @user.id, @pool.id, round.id )
 %>
<tr class='game-round'>
  <td colspan='3'></td>
  <td colspan='4' class='game-round-title'><%= round.title %></td>
</tr>

  <% if @pool.flex? && round.calc? %>
     <tr>
       <td colspan='2'></td>
       <td colspan='4' class='game-no-fixtures'>Spielaufstellungen noch nicht bekannt.</td>
     </tr>
  <% else %>
   <% round.games.each do |game| 
         tip = Tip.find_by_user_and_pool_and_game( @user, @pool, game )
    %>
    <tr>
        
       <%= render_tip_toto12x( tip )  %>
       <%= render_tip_bingo( tip )  %>
       <%= render_game_team1( game ) %>
       <%= render_tip_score( tip )  %>
       <%= render_game_score( game ) %>
       <%= render_game_team2( game ) %>
       <%= render_game_date( game ) %>

     </tr>
  <% end %> <!-- games -->

  <tr><!-- todo: add style class -->
   <td></td>
    <td colspan='5'>
    <% if ranking.present? && ranking.total_pts > 0 %>
       <%= ranking.total_pts_str %> <%= ranking.total_pts %> Pkte

      <% if ranking.round_pts != ranking.total_pts && ranking.round_pts > 0 %>
        (+ <%= ranking.round_pts_str %> <%= ranking.round_pts %> Pkte)
      <% end %>
    <% end %>
  </td>
  </tr>
  
  <% end %> <!-- if pool.flex? && round.calc? -->
<% end %> <!-- rounds -->

</table>



<!-- add scoring/ranking block/data -->
<table>
  <tr>
    <td>
    <td colspan='3'>Runde</td>
    <td></td>
    <td colspan='3'>Gesamt</td>
  </tr>
<% @play.complete_rankings.each do |ranking| %>
 <tr>
  <td>(<%= ranking.round.pos %>) <%= ranking.round.title %></td>
  <td><%= ranking.round_pts %> Pkte</td>
  <td>=></td>
  <td>#<%= ranking.round_pos %></td>
  <td>/</td>
  <td><%= ranking.total_pts %> Pkte</td>
  <td>=></td>
  <td>#<%= ranking.total_pos %> <%= ranking.diff_total_pos_str %></td>
 </tr>
<% end %>
</table>
