<% title( @user.name, @pool.full_title ) %>

<% content_for :breadcrumb do %>
 <%= link_to 'Wettpools', pools_path() %> ›
 <%= link_to @pool.full_title, pool_path(@pool) %> ›
 <%= link_to @user.name, play_path(@play) %>
<% end %>

<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
      <h1><%= @user.name %> - <%=  @pool.full_title %> Tipps</h1>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
      <% if current_user?( @user ) %> 
        <%= link_to 'Meine Tipps bearbeiten', edit_play_path( @play ), :class => 'btn-primary' %>
      <% end %>
    </td>
  </tr>
</table>


<table>
 <tr>
   <td>1. Platz</td>
       <!-- fix: use helper or partial -->
     <% if @play.team1.present? %>
        <td> <%= image_tag( @play.team1.img ) if @play.team1.img.present? %>
         <%= @play.team1.title %>
         </td>
       <% else %>
         <td style='text-align: center;'>
           <span class='missing'>?</span>
         </td>
       <% end %>
 </tr>
 <tr>
   <td>2. Platz</td>
       <% if @play.team2.present? %>
        <td>
         <%= image_tag( @play.team2.img ) if @play.team2.img.present? %>
         <%= @play.team2.title %>
        </td>
       <% else %>
         <td style='text-align: center;'>
           <span class='missing'>?</span>
          </td>
       <% end %>
 </tr>
 <% if @pool.team3? %>
 <tr>
   <td>3. Platz</td>
   <% if @play.team3.present? %>
      <td>
         <%= image_tag( @play.team3.img ) if @play.team3.img.present? %>
         <%= @play.team3.title %>
       </td>
       <% else %>
         <td style='text-align: center;'>
           <span class='missing'>?</span>
          </td>
       <% end %>
 </tr>
<% end %>
</table>


<!-- table columns:
        1    => toto12x
        2    => bingo
        3    => team1
        4    => tip 
        5    => result
        6    => team2
        7    => date
  -->

<table class='play' cellspacing=0>
  
<% @rounds.each do |round| %>
<tr class='game-round'>
  <td colspan='3'></td>
  <td colspan='4' class='game-round-title'><%= round.title %></td>
</tr>

  <% if @pool.flex? && round.calc? %>
     <tr>
       <td colspan='2'></td>
       <td colspan='4' class='game-no-fixtures'>Spielaufstellungen noch nicht bekannt.</td>
     </tr>
  <% else %>
   <% round.games.each do |game| 
         tip = Tip.find_by_user_and_pool_and_game( @user, @pool, game )
    %>
    <tr>
        
       <%= render :partial => 'td_tip_toto12x',  :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_tip_bingo',    :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_game_team1',   :locals => { :game => game } %>
       <%= render :partial => 'td_tip_score',    :locals => { :tip  => tip }  %>
       <%= render :partial => 'td_game_score',   :locals => { :game => game } %>
       <%= render :partial => 'td_game_team2',   :locals => { :game => game } %>
       <%= render :partial => 'td_game_date',    :locals => { :game => game } %>

     </tr>
  <% end %> <!-- games -->
  <% end %> <!-- if pool.flex? && round.calc? -->
<% end %> <!-- rounds -->

</table>


<p>Punkte / Runde:</p>
<!-- add scoring/ranking block/data -->
<table>
<% @play.complete_rankings.each do |ranking| %>
 <tr>
  <td><%= ranking.round_pts %> => #<%= ranking.round_pos %></td>
  <td><%= ranking.total_pts %> => #<%= ranking.total_pos %> <%= ranking.diff_total_pos_str %></td>
  <td>(<%= ranking.round.pos %>) <%= ranking.round.title %></td>
 </tr>
<% end %>
</table>
