
<tr>
  <td><%= game.play_at.strftime('%H:%M') %></td>
  
  <td style='text-align: right;'>
     <span class='<%= game.team1_style_class %>'>
      <%= game.team1.title %>
     </span>
     <%= logo_for_team( game.team1 ) %>
   </td>

   <td>
    - 
   </td>

   <td>
    <%= logo_for_team( game.team2 ) %>
    <span class='<%= game.team2_style_class %>'>
      <%= game.team2.title %>
    </span>
   </td>


   <td style='white-space: nowrap;'>
  <%= fields_for 'games[]', game do |ff| %>
     <%= ff.hidden_field :id %>
     <%= ff.label :locked, 'Locked?' %>
     <%= ff.radio_button :locked, 'true'  %><%= ff.label :locked_true, 'Ja' %>
     <%= ff.radio_button :locked, 'false' %><%= ff.label :locked_false, 'Nein' %>
  <% end %><!-- fields_for games -->
   </td>

  
   <td>
     (<%= game.round.event.title %> / <%= game.round.title %>)
   </td>
</tr>
