
<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= f.label :round_id, 'Runde:' %></td>
      <td>(<%= f.object.round_id %>)</td>
      <td><%= f.select :round_id, ([[ '- Runde wählen -', nil ]] + Round.all.map { |rec| [ "#{rec.event.title} / #{rec.title}", rec.id ] }) %></td>
    </tr>
    <tr>
      <td><%= f.label :pos, 'Lfd#:' %></td>
      <td></td>
      <td><%= f.text_field :pos, size: '3' %></td>
    </tr>
    <tr>
      <td><%= f.label :team1_id, 'Team 1:' %></td>
      <td>(<%= f.object.team1_id %>)</td>
      <td><%= f.select :team1_id, options_from_collection_for_select( Team.all, :id, :title, f.object.team1_id) %></td>
    </tr>
    <tr>
      <td><%= f.label :score1, 'Tore 1:' %></td>
      <td></td>
      <td><%= f.text_field :score1, size: '3' %></td>
    </tr>
    <tr>
      <td><%= f.label :score2, 'Tore 2:' %></td>
      <td></td>
      <td><%= f.text_field :score2, size: '3' %></td>
    </tr>
    <tr>
      <td><%= f.label :team2_id, 'Team 2:' %></td>
      <td>(<%= f.object.team2_id %>)</td>
      <td><%= f.select :team2_id, options_from_collection_for_select( Team.all, :id, :title, f.object.team2_id) %></td>
    </tr>
    <tr>
      <td><%= f.label :locked, 'Locked Flag:' %></td>
      <td></td>
      <td>
	<%= f.radio_button :locked, 'true'  %><%= f.label :locked_true, 'Ja' %>
	<%= f.radio_button :locked, 'false' %><%= f.label :locked_false, 'Nein' %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :knockout, 'Knockout Flag:' %></td>
      <td></td>
      <td>
	<%= f.radio_button :knockout, 'true'  %><%= f.label :knockout_true, 'Ja' %>
	<%= f.radio_button :knockout, 'false' %><%= f.label :knockout_false, 'Nein' %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :play_at, 'Datum:' %></td>
      <td></td>
      <td><%= f.text_field :play_at %></td>
    </tr>
  </table>
  
  <div class="actions">
    <%= f.submit 'Speichern', :class => 'btn-primary' %>
    <%= link_to 'Zurück', games_path, :class => 'btn' %>
  </div>
<% end %>