<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <table>
    <tr>
      <td><%= f.label :name, 'Name:' %></td>
      <td><%= f.text_field :name, 'data-autofocus' => 'true' %></td>
    </tr>
    <tr>
      <td><%= f.label :email, 'Email:' %></td>
      <td><%= f.text_field :email %></td>
    </tr>
  </table>  
  
  <div class="actions">
    <%= f.submit 'Speichern', :class => 'btn-primary' %>
    <%= link_to 'Zurück', users_path(), :class => 'btn' %>
  </div>
<% end %>
