<% title( 'About' ) %>

<h1>About</h1>

<h3>Time Now</h3>

<p><%= Time.now %></p>

<h3>Stats</h3>

<ul>
  <li><%= Event.count %> Veranstaltungen</li>
  <li><%= Round.count %> Runden</li>
  <li><%= Game.count %> Spiele</li>
  <li><%= Team.count %> Teams</li>
</ul>
  
<ul>
  <li><%= Pool.count %> Pools</li>
  <li><%= Play.count %> Tippspiele</li><!-- pooltipps/tippreichen -->
  <li><%= Tip.count %> Tipps</li><!-- einzeltipps -->
</ul>

<ul>
  <li><%= User.count %> Benutzer</li>
</ul>

<h3>Headers</h3><!-- http headers -->

<table>
<% request.env.each do |k,v|
     next if k.starts_with?( 'rack') || k.starts_with?( 'action' )
 %>
  <tr>
     <td><!-- <%= k.class %> --><%= k %></td>
     <td><!-- <%= v.class %> --><%= v %></td>
  </tr>
<% end %>
</table>