<h1><%= Game.count %> Spiele</h1>


<table>
<% @events.each do |event| %> 
  <tr style='background-color: black; color: white; font-weight: bold; font-size: 140%;'>
     <td>(<%= event.id %>)</td>
     <td colspan='7'><%= event.title %></td>
  </tr>
 <% event.game_groups.each do |group| %>
   <tr style='font-size: 120%; font-weight: bold;'>
     <td>(<%= group.id %>)</td>
     <td><%= group.pos %></td>
     <td colspan='6'><%= group.title %></td>
   </tr>
   <% group.games.each do |game| %>

 <tr>
  <td>(<%= game.id %>)</td>
  <td><%= game.pos %></td>
  <td><%= game.team1.title %></td>
  <td><%= game.team2.title %></td>
  <td>
    (
      <%= if game.score1.present? then game.score1 else '-' end %>
       :
      <%= if game.score2.present? then game.score2 else '-' end %>
    )
  </td>
  <td><%= if game.knockout == true then '(Knockout Flag)' else '' end %></td>
  <td><%= fmt_date( game.play_at ) %></td>
  <td><%= link_to 'Bearbeiten', edit_game_path( game ), :class => 'btn' %></td>
 </tr>
  <% end %><!-- games.each -->
 <% end %><!-- groups.each -->
<% end %><!-- events.each -->
 


</table>

<p></p>

<%= link_to 'Neues Spiel', new_game_path(), :class => 'btn-primary' %>

