
  <table class='live'>
    <tr>
      <td><%= game.play_at.strftime('%H:%M') %></td>
      <td style='min-width: 360px; text-align: right;'>
  <span class='<%= game.team1_style_class %>'>
    <span style='font-size: 160%;'><%= game.team1.title %></span>
  </span>
      <%= logo_for_team( game.team1 ) %>
      </td>
      <td>
        <span style='font-size: 160%;'><%= game.score_str %></span>
      </td>
    <td>
    <%= logo_for_team( game.team2 ) %>
    <span class='<%= game.team2_style_class %>'>
      <span style='font-size: 160%;'><%= game.team2.title %></span>
    </span>
    </td>
    <td>
      (<%= game.round.event.title %> / <%= game.round.title %>)
    </td>
  </table>


<table>
 <tr>
  <td><!-- begin column 1 -->
<% if game.complete_tips.count > 0 %>

<table style='border: 1px solid silver;' cellspacing='0' cellpadding='6px'>
  <tr style='text-align: center; background-color: silver;'>
    <td style='min-width: 250px;'>1</td>
    <td style='min-width: 250px;'>X</td>
    <td style='min-width: 250px;'>2</td>
    <td></td>
  </tr>
  <tr style='text-align: center;'>
    <td><span class='larger <%= game.tip_1_style_class %>'><%= game.tip_1_count %></span></td>
    <td><span class='larger <%= game.tip_x_style_class %>'><%= game.tip_x_count %></span></td>
    <td><span class='larger <%= game.tip_2_style_class %>'><%= game.tip_2_count %></span></td>
    <td><span class='smaller'>(<%= game.tip_12x_count %> Tipps)</span></td>
  </tr>
  <tr style='text-align: center;'>
    <td><span class='larger <%= game.tip_1_style_class %>'>
           <%= (game.tip_1_count*100/game.tip_12x_count) %>%
        </span>
    </td>
    <td><span class='larger <%= game.tip_x_style_class %>'>
          <%= (game.tip_x_count*100/game.tip_12x_count) %>%
        </span>
    </td>
    <td><span class='larger <%= game.tip_2_style_class %>'>
        <%= (game.tip_2_count*100/game.tip_12x_count) %>%
       </span>
    </td>
  </tr>
</table>

<% end %><!-- if game.complete_tips.count > 0 -->
  </td><!-- end column 1 -->
  <td><!-- begin column 2 -->

    <table class='odds'>
      <tr>
        <td>1</td>
        <td>X</td>
        <td>2</td>
        <td></td>
      </tr>

<% game.quotes.each do |quote| %>
<tr>
  <td><%= fmt_quote( quote.odds1 ) %></td>
  <td><%= fmt_quote( quote.oddsx ) %></td>
  <td><%= fmt_quote( quote.odds2 ) %></td>
  <td>(<%= quote.service.title %>)</td>
    <!-- add last updated? -->
</tr>
<% end %>

     </table>
  
  </td><!-- end column 2 -->
 </tr>
</table>
