<% content_for :breadcrumb do %>
  <%= link_to 'Wettpools', pools_path() %> ›
   Live <%= "#{@game.team1.title} - #{@game.team2.title}" %>
<% end %>


  <h2><%= @game.play_at.strftime('%A, %d. %B %Y') %></h2>

<%= render partial: 'game', locals: { game: @game } %>
  
<%= render partial: 'game_tips', locals: { game: @game } %>

