<%= form_for(@round, :as => :round, :url => @round.new_record? ? setup_bonus_rounds_path() : setup_bonus_round_path(@round) ) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
     <td></td>
     <td><!-- todo: add pool/event field w/ select box -->
         <!-- todo/fix: why does it now work?? -->
         <%#= @round.pool.full_title %>
     </td>
    </tr>
    <tr>
      <td><%= f.label :pos, 'Pos#:' %></td>
      <td><%= f.text_field :pos, size: '3' %></td>
    </tr>
    <tr>
      <td><%= f.label :title, 'Title:' %></td>
      <td><%= f.text_field :title %></td>
    </tr>
  </table>
  
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn-primary' %>
    <%= link_to 'Back', setup_bonus_rounds_path(), :class => 'btn' %>
  </div>
<% end %>