
<h1><%= link_to @pool.full_title, pool_path(@pool) %> › <%= @user.name %></h1>

<%= form_for @user, :url => pool_player_path( @pool, @user ), :html => { :method => "put" } do |f| %>  

<%= f.fields_for :play, @play do |play_form| %>
<table>
 <tr>
   <td><%= play_form.label :team1_id, '1. Platz' %></td>
   <td><%= play_form.select :team1_id, @team_options %></td>
 </tr>
 <tr>
   <td><%= play_form.label :team2_id, '2. Platz' %></td>
   <td><%= play_form.select :team2_id, @team_options %></td>
 </tr>
 <tr>
   <td><%= play_form.label :team3_id, '3. Platz' %></td>
   <td><%= play_form.select :team3_id, @team_options %></td>
 </tr>
</table>
<% end %><!-- fields_for play -->


<table>
<% first_field = true %>
<% @groups.each do |group| %>
<tr>
  <td></td><td colspan='3'><b><%= group.title %></b></td>
</tr>
  <% if @pool.flex? && group.calc? %>
     <tr>
       <td colspan='3' style='text-align: center;'>Spielaufstellungen noch nicht bekannt.</td>
     </tr>
  <% else %>
  <% group.games.each do |game| %>
  <% tip = Tip.find_by_user_and_pool_and_game( @user, @pool, game ) %>
   <tr>
    <td style='text-align: right;'> 
        <b>
          <% if game.team1.calc? %>
             <em><%= game.team1.title %></em>
          <% else %>  
             <%= game.team1.title %>
          <% end %>
        </b>
       <% if game.team1.img.present? %>
          <%= image_tag( game.team1.img ) %>
       <% end %>
    </td>

   <% if game.over?  %>
     <td style='text-align: center;'>
      <b><%= game.score1 %></b>
       :
      <b><%= game.score2 %></b>
     </td>
   <% else %>
   <% if tip.present? %>
     <td>
  <%= f.fields_for 'tips[]', tip do |ff| %>
     <%= ff.hidden_field :user_id %>
     <%= ff.hidden_field :pool_id %>
     <%= ff.hidden_field :game_id %>
     <% if first_field %>
       <%= ff.text_field :score1, :size => 2, 'data-autofocus' => 'true' %>
       <% first_field = false %>
      <% else %>
       <%= ff.text_field :score1, :size => 2 %>
      <% end %>
       :
     <%= ff.text_field :score2, :size => 2 %>   
  <% end %><!-- fields_for tips -->
     </td>
       <% else %><!-- tip.present? -->
          <td>###<!-- fehler: datensatz fehlt! --></td>
       <% end %>
   <% end %> <!-- game.over? -->
    
       <td>
      <% if game.team2.img.present? %>
         <%= image_tag( game.team2.img ) %>
      <% end %>
        <b>
          <% if game.team2.calc? %>
             <em><%= game.team2.title %></em>
          <% else %>
             <%= game.team2.title %>
          <% end %>
         </b>
       </td>
       <td>
           <span class='light'>
              <%= fmt_date( game.play_at ) %>
           </span>
       </td>
   </tr>
  <% end %><!-- game -->
 <% end %> <!-- if pool.flex? && group.calc? -->  
<% end %><!-- groups -->
</table>


<p>
  <%= f.submit "Tipps speichern", :class => 'btn-primary' %>
  <%= link_to 'Zurück', pool_path( @pool ), :class => 'btn' %>
</p>  
<% end %>  