
<h1><%= @user.name %> <%= link_to ">>> #{@pool.title} <<<", pool_path(@pool)  %></h1>

<%= form_for @user, :url => pool_player_path( @pool, @user ), :html => { :method => "put" } do |f| %>  

<table>
<% @groups.each do |group| %>
<tr>
  <td></td><td colspan='3'><b><%= group.title %></b></td>
</tr>
  <% group.games.each do |game| %>
  <% tip = Tip.find_by_user_and_pool_and_game( @user, @pool, game ) %>
   <tr>
    <td style='text-align: right;'> 
        <b>
          <% if game.team1.calc? %>
             <em>[<%= game.team1.title %>]</em>
          <% else %>  
             <%= game.team1.title %>
          <% end %>
        </b>
       <% if game.team1.img.present? %>
          <%= image_tag( game.team1.img ) %>
       <% end %>          
    </td>

   <% if tip.present? %>
     <td>
  <%= f.fields_for 'tips[]', tip do |ff| %>
     <%= ff.hidden_field :user_id %>
     <%= ff.hidden_field :pool_id %>
     <%= ff.hidden_field :game_id %>
     <%= ff.text_field :score1, :size => 2 %> :
     <%= ff.text_field :score2, :size => 2 %>   
  <% end %>
     </td>
       <% else %>
         <td>## Fehler: Tip Datensatz fehlt!
         </td>
       <% end %>

       <td>
      <% if game.team2.img.present? %>
         <%= image_tag( game.team2.img ) %>
      <% end %>
        <b>
          <% if game.team2.calc? %>
             <em>[<%= game.team2.title %>]</em>
          <% else %>  
             <%= game.team2.title %>
          <% end %>
         </b>
       </td>
   </tr>
  <% end %><!-- game -->
<% end %><!-- groups -->
</table>

<!--
<ul class='none'>
<% @tips.each do |tip| %>
  <li> (<%= tip.game.id %>)

     <% if tip.game.team1.img.present? %>
        <%= image_tag( tip.game.team1.img ) %>
     <% end %>          

        <b><%= tip.game.team1.title %></b> 
        
  <%= f.fields_for 'tips[]', tip do |ff| %>
     <%= ff.hidden_field :user_id %>
     <%= ff.hidden_field :pool_id %>
     <%= ff.hidden_field :game_id %>
     <%= ff.text_field :score1, :size => 2 %> :
     <%= ff.text_field :score2, :size => 2 %>   
  <% end %>

    <% if tip.game.team2.img.present? %>
        <%= image_tag( tip.game.team2.img ) %>
     <% end %>

       <b><%= tip.game.team2.title %></b>
       (<%= tip.game.game_group.title %>) 
  </li>

<% end %>
</ul>
-->


<p>
  <%= f.submit "Tipps speichern", :class => 'btn-primary' %>
  <%= link_to 'Zurück', pool_path( @pool ), :class => 'btn' %>
</p>  
<% end %>  
  

