
<h1><%= @user.name %> >>> <%= @pool.title %> <<< </h1>

<%= form_for @user, :url => pool_player_path( @pool, @user ), :html => { :method => "put" } do |f| %>  

<ul class='none'>
<% @tips.each do |tip| %>
  <li> (<%= tip.game.id %>)

     <% if tip.game.team1.img.present? %>
        <%= image_tag( tip.game.team1.img ) %>
     <% end %>          

        <b><%= tip.game.team1.title %></b> 
        
  <%= f.fields_for 'tips[]', tip do |ff| %>
     <%= ff.hidden_field :user_id %>
     <%= ff.hidden_field :pool_id %>
     <%= ff.hidden_field :game_id %>
     <%= ff.text_field :score1, :size => 4 %> :
     <%= ff.text_field :score2, :size => 4 %>   
  <% end %>

    <% if tip.game.team2.img.present? %>
        <%= image_tag( tip.game.team2.img ) %>
     <% end %>

       <b><%= tip.game.team2.title %></b>
       (<%= tip.game.game_group.title %>) 
  </li>

<% end %>
</ul>

<p>
  <%= f.submit "Tipps Speichern", :class => 'btn-primary' %>
  <%= link_to 'Zurück', pool_path( @pool ), :class => 'btn' %>
</p>  
<% end %>  
  

