<h1><%= @user.name %> >>> <%= @pool.title %> <<< </h1>

<ul class='none'>
<% @tips.each do |tip| %>
  <li>
    (<%= tip.game.id %>)
  
         <b>

     <% if tip.game.team1.img.present? %>
        <%= image_tag( tip.game.team1.img ) %>
     <% end %>          
          <%= tip.game.team1.title %>

         <%= if tip.score1.blank? then "-" else "#{tip.score1}" end %>
         :
         <%= if tip.score2.blank? then "-" else "#{tip.score2}" end %>

     <% if tip.game.team2.img.present? %>
        <%= image_tag( tip.game.team2.img ) %>
     <% end %>
       <%= tip.game.team2.title %>
              
         </b>
         
      (<%= tip.game.game_group.title %>)
        <span class='light'>        
        <%= tip.game.play_at.to_s(:long_ordinal) %>
         </span>      
  </li>
<% end %>
</ul>

<%= link_to 'Zurück', pool_path( @pool ), :class => 'btn' %>