<h1><%= link_to "#{@pool.title} #{@pool.event.title}", pool_path(@pool)  %> / <%= @user.name %></h1>

<table>
<% @groups.each do |group| %>
<tr>
  <td colspan='3'></td><td colspan='4'><b><%= group.title %></b></td>
</tr>
  <% group.games.each do |game| %>
  <% tip = Tip.find_by_user_and_pool_and_game( @user, @pool, game ) %>
    <tr>
      <td>
       <% if tip.present? %>      
          <% if tip.bingo? %>
             <span class='bingo'>Bingo</span>
          <% end %>
          
          <% if tip.score1.blank? || tip.score2.blank? %>
             <span class='missing'>???</span>
          <% end %>
       <% end %>
      </td>
      <td>
       <% if tip.present? && tip.score1.present? && tip.score2.present? %>
          (<%= tip.toto12x %>)
       <% end %>
      </td>
      
       <td style='text-align: right;'>
        <b>
          <% if game.team1.calc? %>
             <em>[<%= game.team1.title %>]</em>
          <% else %>  
             <%= game.team1.title %>
          <% end %>
        </b>
     <% if game.team1.img.present? %>
        <%= image_tag( game.team1.img ) %>
     <% end %>          
       </td>
       
       <% if tip.present? %>
        <td>
          <b>
         <%= if tip.score1.blank? then "-" else "#{tip.score1}" end %>
         :
         <%= if tip.score2.blank? then "-" else "#{tip.score2}" end %>
          </b>
         </td>
       <% else %>
          <td>###<!-- fehler: datensatz fehlt! --></td>
       <% end %>

         <td>
          <b>
         (
         <%= if game.score1.blank? then "-" else "#{game.score1}" end %>
         :
         <%= if game.score2.blank? then "-" else "#{game.score2}" end %>
         )
           </b>
         </td>
       
       <td>
      <% if game.team2.img.present? %>
         <%= image_tag( game.team2.img ) %>
      <% end %>

        <b>
          <% if game.team2.calc? %>
             <em>[<%= game.team2.title %>]</em>
          <% else %>  
             <%= game.team2.title %>
          <% end %>
         </b>
        </td>

         <td>
           <span class='light'>
            <%= game.play_at.strftime( "%a. %d. %b. / %H:%M" ) %>
           </span>
         </td>
     </tr>     
  <% end %> <!-- games -->
<% end %> <!-- groups -->
</table>

<%= link_to 'Zurück', pool_path( @pool ), :class => 'btn' %>