
<h3><%= @event.title %></h3>


<p>
<!-- todo: add anchors for intra page links -->
<% @event.rounds.each_with_index do |round,i| %>
  <% if i > 0 %>
    &bull;
  <% end %>
  <%= round.title %>
<% end %>
</p>


<!-- todo: use different css class e.g. db?? -->
<table class='play' cellspacing=0>
  
<% @event.rounds.each do |round| %>
<tr class='game-round'>
  <td colspan='6' class='game-round-title'>
     <%= round.title %>
     <%= "/ #{round.title2}" if round.title2.present? %>
  </td>
</tr>



   <% round.games.each do |game| %>
    <tr>
     
<td class='game-date'>
  <%= game.play_at_str %>
</td>     
        
<td class='game-team1'>
  <span class='<%= game.team1_style_class %>'>
    <%= link_to game.team1.title, db_team_path( game.team1 ) %>
  </span>
  <%= "(#{game.team1.title2})" if game.team1.title2.present? %>
</td>
<td>
  <%= image_tag( game.team1.img ) if game.team1.img.present? %>
</td>
        
<td class='game-score'>
  ( <%= game.score_str %> )
</td>

<td>
  <%= image_tag( game.team2.img ) if game.team2.img.present? %>
</td>
<td class='game-team2'>
  <span class='<%= game.team2_style_class %>'>
    <%= link_to game.team2.title, db_team_path( game.team2 ) %>
  </span>
  <%= "(#{game.team2.title2})" if game.team2.title2.present? %>
</td>
        
     </tr>
  <% end %> <!-- games -->
<% end %> <!-- rounds -->

</table>