
<h3><%= @event.title %></h3>


<p>
<!-- todo: add anchors for intra page links -->
<% @event.rounds.each_with_index do |round,i| %>
  <% if i > 0 %>
    &bull;
  <% end %>
  <%= round.title %>
<% end %>
</p>


<!-- todo: use different css class e.g. db?? -->
<table class='play' cellspacing=0>
  
<% @event.rounds.each do |round| %>
<tr class='game-round'>
  <td colspan='7' class='game-round-title'>
     <%= round.title %>
     <%= "/ #{round.title2}" if round.title2.present? %>
  </td>
</tr>



   <% round.games.each do |game| %>
    <tr>
     
<%= render_game_date( game ) %>
<%= render_game_team1_v2( game, :link => :db ) %>
<%= render_game_score( game ) %>
<%= render_game_team2_v2( game, :link => :db ) %>

<td>
  <%= render_game_quotes( game ) %>
</td>
        
     </tr>
  <% end %> <!-- games -->
<% end %> <!-- rounds -->

</table>