<h1><%= Round.count %> Rounds</h1>

<table>
<% @events.each do |event| %> 
  <tr style='background-color: black; color: white; font-weight: bold; font-size: 120%;'>
     <td>(<%= event.id %>)</td>
     <td colspan='4'><%= event.title %></td>
  </tr>
 <% event.rounds.each do |round| %>
   <tr>
     <td>(<%= round.id %>)</td>
     <td><%= round.pos %></td>
     <td><%= round.title %></td>
     <td><%= '(Calc Flag)' if round.calc == true %></td>
   </tr>
 <% end %><!-- rounds.each -->
<% end %><!-- events.each -->
</table>
