
<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= f.label :title, 'Titel' %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :img, 'Bild' %></td>
      <td><%= f.text_field :img %></td>
    </tr>
    <tr>
      <td><%= f.label :key, 'Key' %></td>    
      <td><%= f.text_field :key %></td>
    </tr>
    
    <tr>
      <td><%= f.label :calc, 'Calc Flag' %></td>
      <td>
	<%= f.radio_button :calc, 'true'  %><%= f.label :calc_true, 'Ja' %>
	<%= f.radio_button :calc, 'false' %><%= f.label :calc_false, 'Nein' %>
      </td>
    </tr>
  </table>
  
  <div class="actions">
    <%= f.submit 'Speichern', :class => 'btn-primary' %>
    <%= link_to 'Zurück', teams_path(), :class => 'btn' %>
  </div>
<% end %>