<!DOCTYPE html>
<html>
<head>
 <%= render :partial => 'layouts/header' %>
</head>
<body>


<div class='navbar admin'>
<table width='100%' cellspacing=0>
  <tr>
    <!-- left -->
    <td>
      <span class='logo'><%= link_to '[Logo]', pools_path() %></span>
      <span> - Admin - </span>
      &nbsp;&nbsp;&nbsp;
      <% if content_for? :breadcrumb  %>
        <span class='breadcrumb-inline'>
          <%= yield :breadcrumb %>
        </span>
      <% end %>
    </td>
    <!-- right -->
    <td style='text-align: right;'>
 <% if signed_in? %>
    Willkommen, <%= current_user.name %>!

    &nbsp;
    <span class='signout'>
      <%= link_to 'Abmelden', signout_path %>
    </span>
 <% else %>
    <span class='signin'>
    <%= link_to 'Anmelden', signin_path %>
    </span>
 <% end %>
    </td>
  </tr>
</table>
</div>
 
 <div>
  <%= link_to 'Update', update_path() %> &bull;
  <%= link_to 'Users', users_path() %> &bull;
  <%= link_to 'Pools', admin_pools_path() %> &bull;
  <%= link_to 'Bonus', admin_bonus_path() %> &bull;
  <%= link_to 'Jobs',  jobs_path() %> &bull;
  <%= link_to 'Fixtures',  admin_fixtures_path() %>  &bull;
  <%= link_to 'Quotes',    admin_quotes_path() %>
  <!-- todo: add some more links -->
 
 </div>

<div class='content' style='padding: 0px 20px 0px 20px;'>

  <%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>    

  <%= yield %>

</div>

<%= render :partial => 'layouts/debug' %>
<%= render :partial => 'layouts/version' %>

</body>
</html>